@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,400;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.hero {
  width: 100%;
  margin: 0 !important;
}

.hero .mcol {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#p-container {
  width: 85%;
  -webkit-box-shadow: 0 5.3px 5.2px rgba(0, 0, 0, 0.024), 0 14.7px 14.4px rgba(0, 0, 0, 0.035), 0 35.3px 34.7px rgba(0, 0, 0, 0.046);
          box-shadow: 0 5.3px 5.2px rgba(0, 0, 0, 0.024), 0 14.7px 14.4px rgba(0, 0, 0, 0.035), 0 35.3px 34.7px rgba(0, 0, 0, 0.046);
}

#p-container .social {
  width: 90%;
}

#p-container .social a {
  color: black;
}

#p-container .social a:hover {
  color: royalblue !important;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#p-container .social i {
  font-size: 24px;
  padding: 0 5px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

#p-container .img {
  background-image: url("https://images.pexels.com/photos/2918513/pexels-photo-2918513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=740&w=1260");
  width: 100%;
  min-height: 45vh;
  background-size: cover;
  background-position: top center;
}

#p-container .current, #p-container .prev, #p-container .next {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 45vh;
}

#p-container .current .col, #p-container .prev .col, #p-container .next .col {
  padding: 0 !important;
  min-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#p-container .current h1, #p-container .prev h1, #p-container .next h1 {
  margin: 10px auto;
  color: #2581eb;
  width: 90% !important;
  font-size: 30px;
}

#p-container .current p, #p-container .prev p, #p-container .next p {
  color: #282828;
  opacity: .6;
  width: 90%;
  margin: 0 !important;
  padding: 10px 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#p-container .current .name, #p-container .prev .name, #p-container .next .name {
  font-size: 20px;
  margin: 0;
  width: 90%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#p-container .current .post, #p-container .prev .post, #p-container .next .post {
  text-transform: uppercase;
  margin: 0 !important;
  font-weight: 600 !important;
  color: #0077ff;
  padding: 0 !important;
  font-size: 15px !important;
}

#p-container .current .mail, #p-container .prev .mail, #p-container .next .mail {
  margin-bottom: 12px;
  padding: 10px 0 !important;
  font-size: 14px !important;
}

.before::before {
  width: 40px;
  height: 40px;
  background-image: url("./assets/bx-expand-alt.svg");
  content: '';
  position: absolute;
  z-index: 2;
  background-size: cover;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.typing-demo {
  text-align: center;
  width: 10ch;
  -webkit-animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Josefin Sans", sans-serif;
  font-size: 72px;
  color: #1b1b1b;
}

.preview-img {
  background-image: url("https://images.pexels.com/photos/2795294/pexels-photo-2795294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=740&w=1260");
  background-size: cover;
  background-position: center;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(9, 170, 206, 0.4);
  width: 100%;
  min-height: 45vh;
}

.overlay i {
  color: whitesmoke;
}

.overlay i:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: black;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  40% {
    border-color: transparent;
  }
}

@keyframes blink {
  40% {
    border-color: transparent;
  }
}

@media screen and (max-width: 700px) {
  .typing-demo {
    font-size: 52px !important;
  }
  .hero .mcol {
    min-height: auto !important;
    padding: 5vh 0 !important;
  }
  .next, .overlay {
    min-height: 20vh !important;
    background-position: top !important;
    max-height: 20vh !important;
  }
  .next {
    margin: 20px auto  !important;
  }
  .txt {
    padding: 20px 0 !important;
    margin: 20px 0 !important;
  }
}

.end {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px;
}
