@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.bold-capital {
  font-weight: bolder !important;
  text-transform: capitalize !important;
}

.logo-font {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: whitesmoke;
}

#v-logo {
  width: 120px;
  height: 120px;
}

.capital {
  text-transform: capitalize !important;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden !important;
  background-color: #f9f9f9;
}

.container {
  width: 85%;
  margin: 0 auto;
}

i {
  vertical-align: middle;
}

nav {
  padding: 0 7.5%;
  color: white !important;
  background-color: #000 !important;
}

nav .brand-logo {
  padding: 0 20px;
}

nav i {
  color: white !important;
}

.brand-logo img {
  border-radius: 50%;
  margin: 10px auto;
  width: 75px;
  height: 75px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000;
  color: whitesmoke !important;
}

footer .row {
  width: 70%;
  margin: 0px auto !important;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0 !important;
  min-height: 20vh !important;
}

footer .col h4 {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 16px;
}

footer .col img {
  width: 75px;
  height: 75px;
}

footer .col span {
  color: white;
  font-size: 16px;
}

footer .col a {
  padding: 10px 0;
  font-size: 18px !important;
}

footer .col a:hover {
  border-bottom: 1px solid white;
}

footer .col li {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  text-align: center !important;
}

.hero {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  background-color: black;
}

.hero .heading {
  position: relative;
  text-transform: capitalize !important;
  line-height: 110% !important;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 64px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  line-height: 125%;
  color: whitesmoke;
}

.hero .heading span {
  color: #71ffff;
}

.hero .between {
  padding: 0 20px;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.hero .list {
  color: white;
  border-left: 1px solid whitesmoke;
  padding: 0 20px;
  font-weight: bold;
}

.hero .list li {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

.hero .list li:hover {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  color: #15ccf5;
  -webkit-transform: translate(20%, -20%) scale(1.2, 1.2);
          transform: translate(20%, -20%) scale(1.2, 1.2);
}

.hero .half .col {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brain {
  -webkit-transform: translateX(-17%);
          transform: translateX(-17%);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
  background-position: center;
  background-image: url("./assets/brain.webp");
}

.iso {
  background-color: #ffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/value.webp");
}

.shadow {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028);
  border-radius: 12px;
  background-color: #1f1f5d;
}

.cod-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/audit.webp");
}

.center {
  padding: 20px auto;
  margin: 20px auto;
  min-height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center .row {
  width: 100%;
  margin: 0;
}

.features {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
}

.features .row {
  margin: 0;
}

.features #view {
  margin: 20px 0;
  background-color: #09aace;
  border-radius: 8px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  padding: 12px 20px;
}

.features #view:hover {
  background-color: #021d23;
}

.features .goals {
  width: 85%;
  margin: 0 auto;
}

.features .goals .bold {
  width: 70%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  opacity: .9;
  border-bottom: 5px solid black;
  padding-bottom: 15px;
}

.features .steps {
  width: 70%;
  margin: 0 auto;
}

.features .steps .maincol {
  padding: 0 !important;
  min-height: 50vh;
}

.features .steps .maincol span {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: black;
}

.features .steps .maincol .col {
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .steps .maincol .col h4 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  width: 85%;
  font-weight: bolder;
}

.features .steps .maincol .col p {
  margin: 10px 0;
  text-align: justify;
  line-height: 150%;
  width: 85%;
  color: grey;
}

.features .goals .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
}

.features .goals .col h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.features .goals .col h1 span {
  color: #bdc3c7;
}

.abs-div {
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 12px;
  background-size: cover;
  background-position: top center;
  width: 85%;
  background-image: url("./assets/TechnoStellar.png");
  margin: 0 auto;
  margin-top: -25%;
  min-height: 80vh;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.timeline-container {
  width: 100%;
  margin: 0;
}

.timeline-container .time, .timeline-container .event {
  padding: 0;
  min-height: 100vh;
}

.timeline-container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline-container .event {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  color: whitesmoke;
  min-height: 100vh;
}

.timeline-container .e-card {
  height: 80vh;
  overflow: hidden !important;
  background-color: #56855e;
  border-radius: 12px 0 0 12px;
  padding: 25px 0;
}

.timeline-container .e-card #animate .col {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline-container h2 {
  font-size: 52px;
  line-height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.timeline-container p {
  font-size: 16px;
  margin: 20px auto;
}

.timeline-container button {
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
}

.timeline-container .img {
  width: 80%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  border: 12px solid white;
}

.timeline-container .row {
  margin: 0 !important;
  padding: 0;
}

.idea {
  background-image: url("./assets/idea.jpg");
  background-size: contain !important;
}

.technica {
  background-image: url("./assets/technica.jpg");
}

.cod {
  background-position: top !important;
  background-image: url("./assets/valorent.jpg");
}

.time-list {
  padding: 20px;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-list h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  cursor: pointer;
  padding: 0;
  margin: 10px auto;
  color: white;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-left: 10px;
}

.time-list .active {
  color: black;
  -webkit-transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-bottom: 5px solid black !important;
}

.time-list span {
  color: black;
  font-size: 20px;
  line-height: 20px;
}

@media screen and (max-width: 900px) {
  .features .steps .maincol span, .time-list h1, .features .goals .col h1 {
    font-size: 58px !important;
  }
  .glitch, .timeline-container h2 {
    font-size: 36px !important;
  }
  footer .col {
    min-height: auto !important;
    padding: 10px 0 !important;
  }
  footer .col li {
    width: 100%;
    text-align: center !important;
  }
  .brain {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .features .goals .col {
    min-height: auto;
    padding: 10px 0 !important;
  }
  .features .steps .maincol .col {
    min-height: auto;
    padding: 10px 0 !important;
  }
  .abs-div {
    width: 100%;
    border-radius: 0 !important;
    margin: 0 !important;
    margin-top: 0 !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
  .hero {
    min-height: auto !important;
  }
  .hero .half .col {
    min-height: auto;
    padding: 25px 0;
  }
  .hero .row {
    margin: 0  auto !important;
  }
  .hero .heading {
    font-size: 36mpx !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .m-card {
    min-height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero h1, .glitch {
    font-size: 2.2rem !important;
  }
  .sidenav-trigger {
    color: white;
    font-size: 24px;
  }
  .timeline-container .e-card, .timeline-container .e-card #animate .col {
    max-height: auto !important;
    min-height: 50vh;
    height: auto;
  }
  .timeline-container .e-card .img, .timeline-container .e-card #animate .col .img {
    -webkit-transform: none !important;
            transform: none !important;
    margin: 25px auto;
  }
  .timeline-container {
    margin-bottom: 10vh !important;
  }
  .time-list {
    width: 100%;
    min-height: auto !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .timeline-container .time {
    min-height: auto !important;
    padding: 25px 0;
  }
  .row {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .timeline-container .e-card
.timeline-container .e-card {
    max-height: auto !important;
    height: auto !important;
  }
  .timeline-container .e-card
.timeline-container .e-card #animate .col {
    min-height: 50vh;
    height: auto !important;
    max-height: auto;
  }
  .timeline-container .e-card
.timeline-container .e-card #animate .col .img {
    -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
    margin: 50px auto;
    min-height: 50vh !important;
  }
}

#view {
  color: white;
  font-size: 18px;
}

#view i {
  font-size: 24px !important;
}

#view:hover {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-bottom: 1px solid white;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animate {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.glitch {
  font-weight: bolder !important;
  color: white !important;
  font-size: 72px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(52% 0 36% 0);
            clip-path: inset(52% 0 36% 0);
  }
  5% {
    -webkit-clip-path: inset(82% 0 15% 0);
            clip-path: inset(82% 0 15% 0);
  }
  10% {
    -webkit-clip-path: inset(50% 0 41% 0);
            clip-path: inset(50% 0 41% 0);
  }
  15% {
    -webkit-clip-path: inset(76% 0 11% 0);
            clip-path: inset(76% 0 11% 0);
  }
  20% {
    -webkit-clip-path: inset(35% 0 47% 0);
            clip-path: inset(35% 0 47% 0);
  }
  25% {
    -webkit-clip-path: inset(43% 0 27% 0);
            clip-path: inset(43% 0 27% 0);
  }
  30% {
    -webkit-clip-path: inset(88% 0 7% 0);
            clip-path: inset(88% 0 7% 0);
  }
  35% {
    -webkit-clip-path: inset(100% 0 1% 0);
            clip-path: inset(100% 0 1% 0);
  }
  40% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  45% {
    -webkit-clip-path: inset(86% 0 8% 0);
            clip-path: inset(86% 0 8% 0);
  }
  50% {
    -webkit-clip-path: inset(15% 0 85% 0);
            clip-path: inset(15% 0 85% 0);
  }
  55% {
    -webkit-clip-path: inset(43% 0 16% 0);
            clip-path: inset(43% 0 16% 0);
  }
  60% {
    -webkit-clip-path: inset(51% 0 1% 0);
            clip-path: inset(51% 0 1% 0);
  }
  65% {
    -webkit-clip-path: inset(5% 0 60% 0);
            clip-path: inset(5% 0 60% 0);
  }
  70% {
    -webkit-clip-path: inset(20% 0 9% 0);
            clip-path: inset(20% 0 9% 0);
  }
  75% {
    -webkit-clip-path: inset(18% 0 35% 0);
            clip-path: inset(18% 0 35% 0);
  }
  80% {
    -webkit-clip-path: inset(49% 0 10% 0);
            clip-path: inset(49% 0 10% 0);
  }
  85% {
    -webkit-clip-path: inset(54% 0 37% 0);
            clip-path: inset(54% 0 37% 0);
  }
  90% {
    -webkit-clip-path: inset(70% 0 13% 0);
            clip-path: inset(70% 0 13% 0);
  }
  95% {
    -webkit-clip-path: inset(47% 0 45% 0);
            clip-path: inset(47% 0 45% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 1% 0);
            clip-path: inset(40% 0 1% 0);
  }
}

@keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(52% 0 36% 0);
            clip-path: inset(52% 0 36% 0);
  }
  5% {
    -webkit-clip-path: inset(82% 0 15% 0);
            clip-path: inset(82% 0 15% 0);
  }
  10% {
    -webkit-clip-path: inset(50% 0 41% 0);
            clip-path: inset(50% 0 41% 0);
  }
  15% {
    -webkit-clip-path: inset(76% 0 11% 0);
            clip-path: inset(76% 0 11% 0);
  }
  20% {
    -webkit-clip-path: inset(35% 0 47% 0);
            clip-path: inset(35% 0 47% 0);
  }
  25% {
    -webkit-clip-path: inset(43% 0 27% 0);
            clip-path: inset(43% 0 27% 0);
  }
  30% {
    -webkit-clip-path: inset(88% 0 7% 0);
            clip-path: inset(88% 0 7% 0);
  }
  35% {
    -webkit-clip-path: inset(100% 0 1% 0);
            clip-path: inset(100% 0 1% 0);
  }
  40% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  45% {
    -webkit-clip-path: inset(86% 0 8% 0);
            clip-path: inset(86% 0 8% 0);
  }
  50% {
    -webkit-clip-path: inset(15% 0 85% 0);
            clip-path: inset(15% 0 85% 0);
  }
  55% {
    -webkit-clip-path: inset(43% 0 16% 0);
            clip-path: inset(43% 0 16% 0);
  }
  60% {
    -webkit-clip-path: inset(51% 0 1% 0);
            clip-path: inset(51% 0 1% 0);
  }
  65% {
    -webkit-clip-path: inset(5% 0 60% 0);
            clip-path: inset(5% 0 60% 0);
  }
  70% {
    -webkit-clip-path: inset(20% 0 9% 0);
            clip-path: inset(20% 0 9% 0);
  }
  75% {
    -webkit-clip-path: inset(18% 0 35% 0);
            clip-path: inset(18% 0 35% 0);
  }
  80% {
    -webkit-clip-path: inset(49% 0 10% 0);
            clip-path: inset(49% 0 10% 0);
  }
  85% {
    -webkit-clip-path: inset(54% 0 37% 0);
            clip-path: inset(54% 0 37% 0);
  }
  90% {
    -webkit-clip-path: inset(70% 0 13% 0);
            clip-path: inset(70% 0 13% 0);
  }
  95% {
    -webkit-clip-path: inset(47% 0 45% 0);
            clip-path: inset(47% 0 45% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 1% 0);
            clip-path: inset(40% 0 1% 0);
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(26% 0 14% 0);
            clip-path: inset(26% 0 14% 0);
  }
  5% {
    -webkit-clip-path: inset(53% 0 8% 0);
            clip-path: inset(53% 0 8% 0);
  }
  10% {
    -webkit-clip-path: inset(64% 0 28% 0);
            clip-path: inset(64% 0 28% 0);
  }
  15% {
    -webkit-clip-path: inset(32% 0 35% 0);
            clip-path: inset(32% 0 35% 0);
  }
  20% {
    -webkit-clip-path: inset(34% 0 48% 0);
            clip-path: inset(34% 0 48% 0);
  }
  25% {
    -webkit-clip-path: inset(60% 0 11% 0);
            clip-path: inset(60% 0 11% 0);
  }
  30% {
    -webkit-clip-path: inset(26% 0 32% 0);
            clip-path: inset(26% 0 32% 0);
  }
  35% {
    -webkit-clip-path: inset(48% 0 45% 0);
            clip-path: inset(48% 0 45% 0);
  }
  40% {
    -webkit-clip-path: inset(61% 0 36% 0);
            clip-path: inset(61% 0 36% 0);
  }
  45% {
    -webkit-clip-path: inset(76% 0 7% 0);
            clip-path: inset(76% 0 7% 0);
  }
  50% {
    -webkit-clip-path: inset(73% 0 1% 0);
            clip-path: inset(73% 0 1% 0);
  }
  55% {
    -webkit-clip-path: inset(71% 0 23% 0);
            clip-path: inset(71% 0 23% 0);
  }
  60% {
    -webkit-clip-path: inset(25% 0 8% 0);
            clip-path: inset(25% 0 8% 0);
  }
  65% {
    -webkit-clip-path: inset(51% 0 44% 0);
            clip-path: inset(51% 0 44% 0);
  }
  70% {
    -webkit-clip-path: inset(86% 0 7% 0);
            clip-path: inset(86% 0 7% 0);
  }
  75% {
    -webkit-clip-path: inset(86% 0 5% 0);
            clip-path: inset(86% 0 5% 0);
  }
  80% {
    -webkit-clip-path: inset(43% 0 17% 0);
            clip-path: inset(43% 0 17% 0);
  }
  85% {
    -webkit-clip-path: inset(34% 0 13% 0);
            clip-path: inset(34% 0 13% 0);
  }
  90% {
    -webkit-clip-path: inset(25% 0 19% 0);
            clip-path: inset(25% 0 19% 0);
  }
  95% {
    -webkit-clip-path: inset(93% 0 1% 0);
            clip-path: inset(93% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(91% 0 6% 0);
            clip-path: inset(91% 0 6% 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(26% 0 14% 0);
            clip-path: inset(26% 0 14% 0);
  }
  5% {
    -webkit-clip-path: inset(53% 0 8% 0);
            clip-path: inset(53% 0 8% 0);
  }
  10% {
    -webkit-clip-path: inset(64% 0 28% 0);
            clip-path: inset(64% 0 28% 0);
  }
  15% {
    -webkit-clip-path: inset(32% 0 35% 0);
            clip-path: inset(32% 0 35% 0);
  }
  20% {
    -webkit-clip-path: inset(34% 0 48% 0);
            clip-path: inset(34% 0 48% 0);
  }
  25% {
    -webkit-clip-path: inset(60% 0 11% 0);
            clip-path: inset(60% 0 11% 0);
  }
  30% {
    -webkit-clip-path: inset(26% 0 32% 0);
            clip-path: inset(26% 0 32% 0);
  }
  35% {
    -webkit-clip-path: inset(48% 0 45% 0);
            clip-path: inset(48% 0 45% 0);
  }
  40% {
    -webkit-clip-path: inset(61% 0 36% 0);
            clip-path: inset(61% 0 36% 0);
  }
  45% {
    -webkit-clip-path: inset(76% 0 7% 0);
            clip-path: inset(76% 0 7% 0);
  }
  50% {
    -webkit-clip-path: inset(73% 0 1% 0);
            clip-path: inset(73% 0 1% 0);
  }
  55% {
    -webkit-clip-path: inset(71% 0 23% 0);
            clip-path: inset(71% 0 23% 0);
  }
  60% {
    -webkit-clip-path: inset(25% 0 8% 0);
            clip-path: inset(25% 0 8% 0);
  }
  65% {
    -webkit-clip-path: inset(51% 0 44% 0);
            clip-path: inset(51% 0 44% 0);
  }
  70% {
    -webkit-clip-path: inset(86% 0 7% 0);
            clip-path: inset(86% 0 7% 0);
  }
  75% {
    -webkit-clip-path: inset(86% 0 5% 0);
            clip-path: inset(86% 0 5% 0);
  }
  80% {
    -webkit-clip-path: inset(43% 0 17% 0);
            clip-path: inset(43% 0 17% 0);
  }
  85% {
    -webkit-clip-path: inset(34% 0 13% 0);
            clip-path: inset(34% 0 13% 0);
  }
  90% {
    -webkit-clip-path: inset(25% 0 19% 0);
            clip-path: inset(25% 0 19% 0);
  }
  95% {
    -webkit-clip-path: inset(93% 0 1% 0);
            clip-path: inset(93% 0 1% 0);
  }
  100% {
    -webkit-clip-path: inset(91% 0 6% 0);
            clip-path: inset(91% 0 6% 0);
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

html {
  scroll-behavior: smooth  !important;
}

.fixed-action-btn {
  display: none;
}
